.sl_button-group {
    display:flex;
    justify-content:center;

    a:nth-child(1){
        margin-right:1rem;

        @include breakpoint (small only) {
            margin-right:0;
        }//end small only breakpoint

    }

    a:nth-child(2){
        margin-left:1rem;

        @include breakpoint (small only) {
            margin-left:0;
        }//end small only breakpoint
    }

    .sl_button.inverse {
        color:#171E3E !important;
    }

    @include breakpoint (small only) {
        flex-direction:column;
    }//end small only breakpoint
}

.sl_full_width.inverse {
    .sl_button.inverse {
        border: none;
    }
    .sl_button.inverse:hover {
        background-color: #ECECEC;
    }
}