.sl_grav_form {
    padding-left: 10rem;
    padding-right: 10rem;

    @include breakpoint (medium only) {
        padding-left: 3rem;
        padding-right: 3rem;
    }//end small only breakpoint

    @include breakpoint (small only) {
        padding-left: 0;
        padding-right: 0;
    }//end small only breakpoint

    .gform_title {
        display:none;
    }
    
    #gform_fields_1 {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;

        @include breakpoint (small only) {
            flex-direction: column;
        }//end small only breakpoint


        .gfield {
            flex: 1 1 48%;
            margin-bottom: $spacing--xs;

            @include breakpoint (small only) {
                flex: 1 1 100%;
                margin-left: 0!important;
                margin-right: 0!important;
                margin-bottom: $spacing--xs/2;
                min-height: 100%;

                &:last-of-type {
                    margin-bottom: $spacing--xs;
                }
            }//end small only breakpoint

            label {
                color: rgba(57, 57, 57, 0.75);
                font-size: 14px;
            }

            input, select {
                height: 3.5rem;
                background-color: rgba(236, 236, 236, 0.5);
                border: 1px solid #979797;
                border-radius: 4px;
                color: #393939;
                font-size: 18px;
                width:100%;
                padding: 5px;

                color: #393939;
                font-size: 18px;
                line-height: 24px;
                text-align: left;

            }

            textarea {
                padding: $spacing--sm;
                background-color: rgba(236, 236, 236, 0.5);
                border: 1px solid #979797;
                border-radius: 4px;
                color: #393939;
                font-size: 18px;
                width:100%;
            }

        }

        li:before {
            display:none !important;
        }
    }

    .gform_button {
        padding-left:$spacing--sm;
        padding-right:$spacing--sm;
    }
}

