.sl_gallery {
    padding: $spacing--xxl 0 $spacing--xxl;
    background-color: get-color(primary);
    overflow: hidden;

    .sl_inner {
        max-width: 1000px;

        @include breakpoint (xlarge down) {
            max-width: 800px;
        }//end xlarge only breakpoint
    }//end .sl_inner

    .sl_gallery__slider {

        .slick-list {
            overflow: visible;
        }//end slick-list

        &__slide {
            margin: 0 $spacing--xs/2;
            opacity: 0.4;
            transform: scale(0.85);
            transition: all 300ms ease;

            &:focus {
                outline: none;
            }//end &:focus

            &.slick-center {
                opacity: 1;
                transform: scale(1);
                transition: all 300ms ease;
                box-shadow: $shadow;
            }//end &.slick-center
        }//end .slick-slide

        .slick-dots {
            position: absolute;
            bottom: -$spacing--md;
            margin: 0;
            z-index: 1;
            left: 0;
            right: 0;
            text-align: center;

            li {
                position: relative;
                display: inline-block;
                width: 16px;
                height: 16px;
                margin: 0 4px;
                cursor: pointer;

                &.slick-active {
                    button {
                        background-color: get-color(inverse)
                    }//end button
                }//end &.slick-active

                button {
                    background-color: transparent;
                    border-radius: 50%;
                    font-size: 0;
                    line-height: 0;
                    display: block;
                    width: 16px;
                    height: 16px;
                    cursor: pointer;
                    border: 1px solid get-color(inverse);
                }//end button
            }//end li
        }//end .slick-dots
    }//end .sl_program__slider
}//end .sl_carousel


//CAROUSEL SHORTCODE
.sl_carousel__slider {
        position: relative;
        display: flex;
        height: 100%;

        &:after {
            @include pseudo;
            bottom: 0;
            left: 0;
            right: 0;
            height: 50px;
            background-image: linear-gradient(180deg, rgba(36,46,62,0.00) 0%, rgba(36,46,62,0.10) 10%, #242E3E 100%);
            opacity: .5;
        }//end &:after

        .slick-list {
            width: 100%;

            .slick-track, .slick-track div {
                height: 100%;
                max-height: 527px;
                width: 100%;

                @include breakpoint (xlarge only) {
                    max-height: 576px;
                }//end xlarge only breakpoint

                @include breakpoint (large only) {
                    max-height: 570px;
                }//end large only breakpoint

                @include breakpoint (medium only) {
                    max-height: 500px;
                }//end medium only breakpoint
            }//end .slick-track, .slick-track div

            .slick-slide img {
                object-fit: cover;
                object-position: center bottom;
                vertical-align: middle;
                max-width: 100%;
                -ms-interpolation-mode: bicubic;
                height: auto;
            }//end .slick-slide img
        }//end slick-list

        .slick-dots {
            position: absolute;
            bottom: $spacing--md;
            margin: 0;
            z-index: 1;
            left: 0;
            right: 0;
            text-align: center;

            li {
                position: relative;
                display: inline-block;
                width: 16px;
                height: 16px;
                margin: 0 4px;
                cursor: pointer;

                &:before {
                    background-color:transparent !important;
                }//end &:before

                &.slick-active {
                    button {
                        background-color: get-color(inverse)
                    }//end button
                }//end &.slick-active

                button {
                    background-color: transparent;
                    border-radius: 50%;
                    font-size: 0;
                    line-height: 0;
                    display: block;
                    width: 16px;
                    height: 16px;
                    cursor: pointer;
                    border: 1px solid get-color(inverse);
                }//end button
            }//end li
        }//end .slick-dots

        .sl_button--carousel {
            position: absolute;
            width: 25px;
            height: 25px;
            top: calc(50% - 12.5px);

            &:before {
                display: block;
                font-family: "FontAwesome";
                font-size: 25px;
                color: get-color(inverse);
                text-shadow: 0px 5px 15px rgba(0,0,0,.15);
            }//end &:before

            &.sl_prev {
                left: $spacing--sm;
                right: auto;
                z-index:1;
                &:before {
                    content: '\f053';
                }//end &:before
            }//end &.sl_prev

            &.sl_next {
                right: $spacing--sm;
                left: auto;
                &:before {
                    content: '\f054';
                }//end &:before
            }//end &.sl_next       
        }//end .sl_button--carousel
    }//end sl_carousel__slider