/*
 * Insurance
 *
 * 
*/

@function color($color, $value: 100) {
    @return map-get($color, $value);
  }
  
  $inverse: (
    100 : #ffffff,
    200 : #F7F7F7,
    300 : #E8EAF3,
  );
  
  $default: (
    100 : #171F3F,
  );
  
  $primary: (
    100:  #E88D37,
  );
  
  $secondary: (
    100:  #171F3F,
  );
  
  
  $tertiary: (
    100:  #259AD6,
  );


.frank-insurance {
 
	// Settings
		padding: 30px 0px;
		@include breakpoint(medium) {
			padding-bottom: 45px;
		}
		@include breakpoint(large) {
			background-color: color($inverse, 200);
			padding-bottom: 60px;
		}
		@include breakpoint(xlarge only) {
			padding-top: 15px;
		}
		


	// Grid
		.frank-row {
			@include xy-grid;
            flex-wrap: wrap;
            align-self: flex-start;

            margin-left: 4rem;
            margin-right: 4rem;

            @include breakpoint(small) {
                margin-left: 2rem;
                margin-right: 2rem;	
			}

            @include breakpoint(xxlarge) {
				max-width: 1200px;
				margin: 0 auto;		
			}

		}///.frank-row


	// Insurance Grid
		.insurance-grid {
			@include xy-grid;
			@include xy-grid-layout(2, '.cell', true, 30px);
			@include breakpoint(medium) {
				@include xy-grid-layout(4, '.cell', true, 30px);
			}
			@include breakpoint(large) {
				@include xy-grid-layout(2, '.cell', true, 30px);
			}

			// Cells
				.cell {
					padding: 20px 0px;
					align-self: center;
					@include breakpoint(large) {
						padding: 20px 10px;
					}
				}///.cell

		}///.insurance-grid


	// Cards
		.card.card--0 {
			margin-bottom: 15px;
			@include xy-cell(100%, true, 30px);
			@include breakpoint(medium) {
				margin-bottom: 30px;
				@include xy-cell(100%, true, 90px);
			}
			@include breakpoint(large) {
				order: 1;
				@include xy-cell(50%, true, 120px);
                margin-left: 0 !important;
                margin-right: 0 !important;
			}
			@include breakpoint(xlarge) {
				@include xy-cell(50%, true, 200px);
			}
			@include breakpoint(xxlarge) {
				@include xy-cell(42%, true, 100px);
			}
			
		}///.card--0

		.card.card--1 {
            margin-bottom: 15px;
			@include xy-cell(100%, true, 30px);
			text-align: center;
			@include breakpoint(medium) {
                margin-bottom: 30px;
				@include xy-cell(100%, true, 300px);
			}
			@include breakpoint(large) {
				order: 0;
				text-align: left;
				@include xy-cell(auto, true, 120px);
                margin-left: 0 !important;
                margin-right: 0 !important;
			}
			@include breakpoint(xlarge) {
				@include xy-cell(auto, true, 200px);
				margin-right: 0;
			}
			@include breakpoint(xxlarge) {
				@include xy-cell(auto, true, 100px);
			}
			
		}///.card--1

        .card.card--2 {
			@include xy-cell(100%, true, 30px);
			text-align: center;
			@include breakpoint(medium) {
				@include xy-cell(100%, true, 300px);
			}
			@include breakpoint(large) {
				order: 2;
				text-align: left;
				@include xy-cell(auto, true, 120px);
				margin-right: 0;
			}
			@include breakpoint(xlarge) {
				@include xy-cell(auto, true, 200px);
				margin-right: 0;
			}
			@include breakpoint(xxlarge) {
				@include xy-cell(auto, true, 100px);
			}

            .reputation-header {
                text-align: center;
            }
			
		}///.card--1


	// Typography
		
		// Header	
			h2 {
				color: color($default);
				font-size: 20px;
				font-weight: 600;
				margin-bottom: 30px;
				@include breakpoint(medium) {
					font-size: 30px;
				}
				@include breakpoint(xlarge) {
					font-size: 34px;
				}
			}

		// Paragraph
			p {
				color: color($default);
				font-size: 16px;
				font-weight: 400;
				line-height: 28px;
				margin-bottom: 30px;
				@include breakpoint(medium) {
					font-size: 18px;
				}
			}

		// CTA
			span.cta {
				display: block;
				color: color($default);
				font-size: 20px;
				font-weight: 600;
				margin-bottom: 2rem;
			}

		

}///.frank-insurance


