.sl_notification-bar {
	background-color:#002139;
	color:#ffffff;
	padding: 8px 24px;

	.sl_inner { 
		width: 100%;
		max-width: 1080px;
		margin: 0 auto;
		font-size: 18px;
		text-align: center;
		font-weight:400;

		@include breakpoint (small only) {
			font-size: 16px;
			padding: 0;
		}//end small only breakpoint
	}//end .sl_inner
}//end .sl_notification-bar

.sl_button { 
	display: inline-block;
	padding: 6px 10px;
	font-size: 15px;
	border-radius: 3px;
	color: #fff!important;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background-color: #d18839;
	letter-spacing: 0;
	font-weight: 400;
	margin-left: 8px;

	@include breakpoint (small down) {
		padding: 0;
		background: none;
		color: #d18839 !important;
		text-decoration: underline;
	}//end small down breakpoint
}//end .sl_button