.frank-hero__background {
	background-color: get-color(primary);
}

.frank-hero:after {
	background-color: get-color(primary);
}


@media screen and (min-width: 75em) {
	.frank-hero__background .bg-1:before {
    	background-image: linear-gradient(232deg, get-color(primary) 0%, darken(get-color(primary), 5%) 100%);
	}
}

.frank-treatment {
	background: get-color(primary);
}

.frank-sections a.button, .frank-sections span.button {
	background: get-color(secondary);
}