.sl_inner {
    @include inner ($max-width: 1440px);

    &--expanded {
        max-width: none;
        padding: 0;
    }//end &--expanded
}//end .sl_inner

.page-title {
    width: 50%;
    font-weight:500;

    @include breakpoint (small only) {
        width:100%;
    }//end medium only breakpoint
}

