$site-palette: (
  primary:    #002845,
  secondary:  #d18839,
  default:    #393939,
  inverse:    #FFFFFF,
  accent1:    #53AABE,
);

//Merging site palette into default foundation palette
$foundation-palette: map-merge(
  (
  primary: #1779ba,
  secondary: #767676,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
  ),
  $site-palette
);