// Header-Line
  @mixin header-line(
    $color: color($primary),
    $margin: 1.25rem 0,
    $width: 5rem,
    $height: 1px,
    $display: block
    ){
      content: '';
      display: $display;
      width: $width;
      height: $height;
      margin: $margin;
      background: $color;
  }