/*
Theme Name: Skywood Theme
Theme URI: http://foxfuelcreative.com
Description: A custom responsive theme based on the Foundation framework. Includes multiple page templates, two different sidebars and a theme options panel.
Version: 3.3.1
Author: Foxfuel Creative
Author URI: http://foxfuelcreative.com
Tags: black, white, one-column, two-columns, flexible-width, custom-background, custom-colors, custom-menu, full-width-template, theme-options
License: GNU General Public License v2.0 & Apache License 2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html http://www.apache.org/licenses/LICENSE-2.0
*/

/*   HEADS UP: Everything that you will normally find here can be found in the library/scss/*.scss    */

p.frn_footer a {
    color: gray;
    margin-top: 10px;
}

.social.googleplus {
  background: url("images/icon-set-social-120.png") no-repeat -120px 0/180px 120px; }

.social.googleplus:hover {
  background-position: -120px -60px; }

@media (max-width: 600px) {
#main-nav a{
    font-size: 20px;
}
#main-nav .phone-menu > li > div a {
    font-size: 14px;
}
input.wpcf7-form-control.wpcf7-submit.button.secondary.large.all-caps.float-right {
    float: none !important;
}
#main-contact-form p {
    margin-bottom: 0;
    text-align: center;
}
footer .menu li {
    text-align: center !important;
    float: none !important;
    display: inherit !important;
}
#mobilesocial{
    margin: 20px;
}
#mobilebbb{
    margin: 25px;
}
#content img.alignleft, #content img.alignright{
    max-width: 70%;
    margin: 15px auto;
}
.lead{
    font-size: 120%;
}
.wp-image-1398 {
width:20%;
}
#related-to-this h2 {
    font-size: 2.5rem;
}
#related-to-this {
    padding-top: 30px;
    padding-bottom: 30px;
}
.search .tb-pad-40 {
    padding: 0;
}
.search-results article {
    padding-bottom: 20px;
}
.tb-pad-40 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.pagination li:last-child, .pagination li:first-child {
    font-size: 20px;
}
}

@media (max-width: 320px) {
div#nav-logo.show-logo {
width:95px !important;
}
}


/* 
  Responsive iframes CSS -- Benefits SoberGuy Podcast players mostly
  Requires two transparent images (one for audio, and one for video) to get the height/width ratio.
  Search content in admin by CSS name below to find posts with iframe embedded.
*/
.frn_iframe_wrap {
    width: 100%;
    background-color:#ccc;
    height: auto;
    margin-left: 0;
}
.frn_iframe_block {position:relative; height: 90px; margin: 15px 0 20px 0; border: 1px solid #ccc; box-shadow: #ccc 0px 1px 10px;}
.frn_iframe_block .ratio {display:block;width:100%;height:auto; position: relative; }
.frn_iframe_block iframe {position:absolute;top:0;left:0;width:100%; height:100%; z-index: 1000;}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /* tablet */
  .frn_iframe_wrap {
      width: 100%;
      height: auto;
      background: #CCC;
  }
}
@media only screen and (max-device-width:767px){
  /* smartphone */
  .frn_iframe_wrap {width:100%;height:auto;margin:0 auto;background:#CCC;
  }
}

a.button.float-center {
    display: inline-block;
}

#home-button {
    background-image: url(/wp-content/uploads/SKYWOOD-CONTACT-US.png);
    background-size: cover;
    background-position: center top 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.page-template-page-homepage-button a.button.secondary.large.home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#share-this-button span.stButton {
    display: none !important;
}


a[name]:before {
    height: 100px !important; 
    margin: -100px 0 0 0 !important;
}

.social {
    padding: 1rem 1rem !important;
}